<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('partials/_styles') %>
</head>
<body>
  <div>
    <h1>This is the singe combo page</h1>
    <div>
      <h2>Main: <%= combo.main %></h2>
      <h2>Side: <%= combo.side %></h2>
      <h2>Drink: <%= combo.drink %></h2>
    </div>
  </div>
</body>
</html>