.title {
  font-size: 40px;
  font-weight: 100;
}

.btnContainer {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  color: tomato;
  border: 1px solid tomato;
  background-color: white;
  border-radius: 5px;
}

.btn:hover {
  color: white;
  border-color: white;
  background-color: tomato;
}